test/
venv/
src/__pycache__/
src/interface/__pycache__/
src/datatype/__pycache__/
*.mod
_skbuild
*.pyc
src/forcefield/fortran_energy/__pycache__/
tests/__pycache__/
tests/component_tests/__pycache__/
tests/component_tests/__pycache__/test_fortran_ff.cpython-38-pytest-8.3.5.pyc
src/datatype/__pycache__/structure_data.cpython-38.pyc
_manual_test/
src/datatype/__pycache__/structure_data.cpython-38.pyc
